<ion-header [translucent]="true">
  <ion-toolbar class="primary">
    <ion-title>
      APP lista Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar  class="primary">
      <ion-title size="large">APP lista Filmes</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let fl of filmes">
      <ion-label>
        <ion-title>{{fl.Title }}</ion-title>
      </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
