<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      APP lista Filmes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="floating" class="ion-text-xl ion-margin"> Busca geral por título</ion-label>
        <ion-input type="text" placeholder="escolha o filme" #filme (change)="getAllFilmes(filme)"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngFor="let fl of filmes">
      <ion-card>
        <ion-card-header>{{fl.Title}}</ion-card-header>
      </ion-card>

    </ion-list>
  </ion-content>
  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
